# Files and directories created by pub
.dart_tool/
.packages
.pub/
build/
# If you're building an application, you may want to check-in your pubspec.lock
pubspec.lock

# Directory created by dartdoc
# If you don't generate documentation locally you can remove this line.
doc/api/

*.pdf
*.ttf
.DS_Store
.dart_tool/

.packages
.pub/
pubspec.lock

build/
printing/android/local.properties
.idea
*.iml
.flutter-plugins

printing/*.log
printing/ios/Flutter
printing/ios/Runner
printing/android/.gradle

.pana
pedantic_analyis_options_*.yaml
.dartfix
node_modules
pdf/lcov.info
pdf/coverage.json
.coverage
package-lock.json
printing/lcov.info

test/readme.dart
test/android
test/ios
test/diff

ref
!test/golden/*.pdf
.flutter-plugins-dependencies
